# Running ImageJ via Python

The idea behind the code below is to be able to run my ImageJ code from Python. Not sure if it will work.

In [ ]:
import imagej
import scyjava as sj

# initialize imagej
ij = imagej.init('sc.fiji:fiji:2.3.1', mode='interactive')

### Grouping all of the csv files

The code below should be run after you run the Endplate-analysis.ijm script.

In [27]:
import os
import numpy as np
import pandas as pd

def group_func(s):
    """Add Group Info based on Mouse #"""
    if int(s) in [7488, 8834, 8835, 7482, 7485, 8831]:
        group = "Crush"
    elif int(s) in [8593, 8836, 8837, 8591, 8832, 8833]:
        group = "Sham"
    elif int(s) in [8594, 8595, 7591, 7592, 8592]:
        group = "Tetanus"
    elif int(s) in [123, 144, 151, 125, 135, 152]:
        group = "Tetanus-Crush"
    else:
        group = "Other"
    
    return group

def percent_func(s):
    '''Adjusting values that are over 100% down to 100%'''
    if s > 1:
        val = 100
    else:
        val = s*100
    return val

def muscle_group(s):
    '''Adjusting the groups to be the same'''
    if s in ['GAS','MG','LG']:
        val = 'LG-MG'
    else:
        val = s
    return val

In [28]:
# Grabbing the files
path = r'G:\Tetanus\NMJ Data\raw images\Completed\Analysis_Results'
dir_list = os.listdir(path)

filelist = [file for file in dir_list if file.endswith(".csv")]

In [29]:
# Creating the dataframe
df = pd.DataFrame()
for file in filelist:
    titlesplit = file.split('_')
    
    df1 = pd.read_csv(os.path.join(path,file),index_col=0)
    df1.dropna(axis=0, how='all', inplace=True)
    
    titles = {'Mouse':[titlesplit[0] for i in range(len(df1))],
              'Muscle':[titlesplit[1][:-1].upper() for i in range(len(df1))]}
    
    df1=df1.assign(**titles)
    
    df = pd.concat([df,df1], ignore_index=True)

df["Group"] = df["Mouse"].apply(group_func)
df["Muscle"] = df["Muscle"].apply(muscle_group)

In [30]:
df.head()

,varea0,varea1,varea2,barea1,barea2,tarea0,tarea1,marea1,marea2,vcov01,...,vcov12,vcov22,tcov01,tcov02,tcov12,mcov11,mcov22,Mouse,Muscle,Group
0,24.324,17.876,8.914,9.009,3.793,25.036,18.966,14.889,6.638,2.700,...,4.712,2.350,2.779,6.600,5.000,1.653,1.750,123,TA,Tetanus-Crush
1,40.809,39.890,34.375,32.108,25.429,40.809,40.380,36.275,31.311,1.271,...,1.569,1.352,1.271,1.605,1.588,1.130,1.231,123,TA,Tetanus-Crush
2,42.123,37.811,27.944,29.934,24.295,43.035,40.381,33.416,24.959,1.407,...,1.556,1.150,1.438,1.771,1.662,1.116,1.027,123,TA,Tetanus-Crush
3,36.000,30.583,14.083,5.417,0.583,36.583,33.917,25.667,9.250,6.646,...,52.429,24.143,6.754,62.714,58.143,4.738,15.857,123,TA,Tetanus-Crush
4,36.765,31.209,22.277,27.723,23.039,38.072,33.987,28.922,20.153,1.326,...,1.355,0.967,1.373,1.652,1.475,1.043,0.875,123,TA,Tetanus-Crush

In [31]:
for title in ["vcov01", "vcov02", "vcov11", "vcov12", "vcov22", "tcov01", "tcov02", "tcov12", "mcov11", "mcov22"]:
    df[title] = df[title].apply(percent_func)

df.head()

,varea0,varea1,varea2,barea1,barea2,tarea0,tarea1,marea1,marea2,vcov01,...,vcov12,vcov22,tcov01,tcov02,tcov12,mcov11,mcov22,Mouse,Muscle,Group
0,24.324,17.876,8.914,9.009,3.793,25.036,18.966,14.889,6.638,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,123,TA,Tetanus-Crush
1,40.809,39.890,34.375,32.108,25.429,40.809,40.380,36.275,31.311,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,123,TA,Tetanus-Crush
2,42.123,37.811,27.944,29.934,24.295,43.035,40.381,33.416,24.959,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,123,TA,Tetanus-Crush
3,36.000,30.583,14.083,5.417,0.583,36.583,33.917,25.667,9.250,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,123,TA,Tetanus-Crush
4,36.765,31.209,22.277,27.723,23.039,38.072,33.987,28.922,20.153,100.0,...,100.0,96.7,100.0,100.0,100.0,100.0,87.5,123,TA,Tetanus-Crush

In [32]:
grouped = df.groupby("Group")
for name, group in grouped:
    group.sort_values(["Muscle","Mouse"]).to_csv(os.path.join(path,name+"_Data.csv"), index=False)

In [33]:
mus_ave = df.groupby(["Group", "Muscle"]).mean()
mus_ave.to_csv(os.path.join(path,"Muscle_Average.csv"))
mus_ave

                         varea0     varea1     varea2     barea1     barea2  \
Group         Muscle
Crush         LG-MG   38.448525  33.277939  25.278667  32.986488  25.258781
              SOL     42.689903  38.427389  30.105752  35.710575  25.876690
              TA      35.840117  32.810160  25.767738  31.581427  23.936087
Other         TA      37.688526  28.372500  15.641750  33.001250  24.415289
Sham          LG-MG   33.398674  28.162539  20.850760  31.167824  24.935613
              SOL     41.133513  36.353597  28.385345  37.037580  28.758050
              TA      32.072236  27.945347  21.684125  30.126293  23.789054
Tetanus       LG-MG   30.129399  25.925490  17.878864  28.772390  23.254964
              TA      29.793350  26.806133  21.148720  28.311963  22.408127
Tetanus-Crush LG-MG   40.570156  31.660296  17.228640  30.457328  23.842441
              TA      34.309189  29.587137  20.975978  29.769288  22.646822

                         tarea0     tarea1     marea1     marea2      vcov01  \
Group         Muscle
Crush         LG-MG   38.769091  33.558215  26.106929  18.772276   98.906061
              SOL     42.573062  40.220770  20.134027  12.049575  100.000000
              TA      35.678121  32.608903  25.344461  17.587495   99.536408
Other         TA      38.051776  28.454053  23.456868  12.238908   96.911842
Sham          LG-MG   33.248711  27.428426  21.505061  14.207258   97.747697
              SOL     41.136756  36.926059  28.592462  19.469370   99.375630
              TA      31.984957  27.793145  21.399338  14.380034   98.588352
Tetanus       LG-MG   30.030834  25.683510  19.358627  10.557315   99.056818
              TA      29.657327  26.185297  18.726613  12.394217   98.715667
Tetanus-Crush LG-MG   36.836849  27.780419  24.091500  11.971156   99.175806
              TA      34.302358  29.521464  23.855553  15.298186   98.084097

                          vcov02     vcov11      vcov12     vcov22     tcov01  \
Group         Muscle
Crush         LG-MG    99.440404  90.850842   95.517508  81.717508  99.071717
              SOL     100.000000  98.486726  100.000000  96.666372  99.934513
              TA       99.762136  94.948544   98.344660  87.740291  99.063107
Other         TA       98.319737  78.767105   87.682895  60.053947  96.956579
Sham          LG-MG    98.989309  85.613816   91.750493  73.004605  96.797862
              SOL      99.784034  91.524370   96.427731  85.615966  99.376471
              TA       99.393466  87.516193   91.923864  76.803409  97.942614
Tetanus       LG-MG    99.752597  87.273052   92.769156  70.458442  98.589935
              TA       99.366000  90.826667   94.919667  80.865667  98.114667
Tetanus-Crush LG-MG    99.806989  82.523656   89.153226  62.845699  99.238172
              TA       99.199461  88.173585   93.004313  74.885714  97.395418

                          tcov02     tcov12     mcov11     mcov22
Group         Muscle
Crush         LG-MG    99.608418  94.110438  74.802357  65.416835
              SOL     100.000000  99.932743  54.485841  43.946903
              TA       99.521359  96.737379  77.623786  68.553883
Other         TA       98.038158  85.115789  66.306579  46.414474
Sham          LG-MG    98.288322  88.490461  68.179112  54.590954
              SOL      99.842017  94.975630  75.105882  63.056303
              TA       99.040625  90.021023  69.013068  55.711648
Tetanus       LG-MG    99.337662  90.838961  66.259740  44.200000
              TA       98.911667  92.594667  64.025000  51.312333
Tetanus-Crush LG-MG    99.639247  88.887097  62.905914  43.922043
              TA       98.594070  91.988140  76.287062  62.724798

In [34]:
mouse_ave = df.groupby(["Group", "Muscle", "Mouse"]).mean()
mouse_ave.to_csv(os.path.join(path,"Mouse_Average.csv"))
mouse_ave

                               varea0     varea1     varea2     barea1  \
Group         Muscle Mouse
Crush         LG-MG  7482   41.273095  37.018952  27.034762  33.218238
                     7485   39.897926  29.633037  17.639741  33.824370
                     7488   44.536250  43.691675  39.588475  35.482950
                     8831   38.439759  33.013241  25.392456  32.083570
                     8834   38.173802  30.883163  21.532047  33.903221
                     8835   31.229432  29.418023  23.237773  29.921568
              SOL    8831   41.017397  37.011544  29.129912  34.751015
                     8834   45.217244  40.566889  31.580356  37.160578
              TA     7482   36.139047  33.938047  27.315372  31.625674
                     7485   37.614200  32.185720  21.940920  31.678360
                     7488   33.033030  32.207909  28.632788  29.930576
                     8831   33.301571  30.385762  23.589190  29.061810
                     8834   38.460318  32.853568  23.429932  32.959818
                     8835   35.176325  33.709875  27.847450  32.641800
Other         TA     173    37.688526  28.372500  15.641750  33.001250
Sham          LG-MG  8591   33.472873  32.243127  27.556228  30.682519
                     8593   38.104754  34.669211  26.765816  34.587737
                     8832   32.364354  26.693969  15.398708  31.346708
                     8833   25.617355  24.466009  20.564542  25.218514
                     8836   31.416887  19.764472  11.230085  31.258774
                     8837   37.541350  30.476803  22.316102  33.093204
              SOL    8591   44.805000  42.341763  35.353026  39.794632
                     8836   35.241667  28.462490  20.697725  33.590961
                     8837   46.499100  42.183467  32.628567  39.404567
              TA     8591   28.948444  28.113175  25.336683  26.281333
                     8593   34.970952  32.920286  25.354381  32.288365
                     8833   36.971443  36.811885  35.059820  35.087197
                     8836   28.409797  20.908820  12.560662  27.912805
                     8837   38.398250  30.164250  19.689312  33.182563
Tetanus       LG-MG  7591   26.663976  20.455690  12.760071  26.065405
                     7592   29.493895  26.227250  17.364145  28.566118
                     8592   26.966619  24.951562  19.840638  26.059981
                     8595   36.316906  29.561494  18.445000  33.645012
              TA     7592   29.144210  24.563355  17.672194  28.319065
                     8592   30.009574  28.698000  25.384689  28.735115
                     8594   29.382564  27.751040  22.699327  27.555089
                     8595   30.695276  25.861566  18.524237  28.972382
Tetanus-Crush LG-MG  125    34.837850  28.505125  17.634275  28.602800
                     135    40.373031  32.492375  17.321094  31.766969
                     151    47.331859  34.161676  15.308746  32.368113
                     152    34.884558  29.845930  19.952558  28.052837
              TA     123    31.554011  24.132064  14.275957  27.603670
                     135    40.524930  37.010035  26.462526  33.307421
                     144    30.488620  23.300013  12.845570  27.253367
                     151    33.892586  32.255857  26.312457  29.612429
                     152    37.628577  35.214521  29.226930  32.750028

                               barea2     tarea0     tarea1     marea1  \
Group         Muscle Mouse
Crush         LG-MG  7482   25.032000  41.258524  35.677095  34.266714
                     7485   25.315963  39.745333  28.513852  17.259667
                     7488   25.779050  44.592300  43.992450  39.567850
                     8831   25.079241  38.353797  33.241684  24.770076
                     8834   25.665372  39.376826  32.131407  21.060674
                     8835   24.386614  31.245864  29.513750  27.667682
              SOL    8831   25.415088  40.865294  38.967147  19.134824
                     8834   26.574222  45.153689  42.115133  21.643933
              TA     7482   24.355023  36.097279  34.150767  27.876163
                     7485   23.867080  37.495000  30.093000  25.225840
                     7488   23.675455  33.015364  31.869879  26.172424
                     8831   19.757190  33.117619  30.424476  17.714143
                     8834   25.080864  38.531818  35.011682  26.240432
                     8835   24.678550  34.493950  31.637300  25.034300
Other         TA     173    24.415289  38.051776  28.454053  23.456868
Sham          LG-MG  8591   24.564304  33.471747  32.294228  26.399190
                     8593   26.482579  37.800895  32.895754  29.487386
                     8832   25.738246  31.811708  23.924831  23.855538
                     8833   21.786355  25.553290  24.155804  20.302402
                     8836   24.734708  31.671651  20.087783  14.554604
                     8837   26.096745  37.244438  29.971044  17.242511
              SOL    8591   30.535921  44.707737  41.802684  29.296368
                     8836   26.873706  35.376765  29.344314  22.309137
                     8837   29.709467  46.405500  43.637967  38.382500
              TA     8591   20.827365  28.884333  27.310889  19.129016
                     8593   24.972413  34.920540  32.263937  30.286492
                     8833   27.659672  36.967475  36.683115  26.382721
                     8836   22.764241  28.063398  20.693654  17.339692
                     8837   24.171156  39.110937  32.501469  15.745781
Tetanus       LG-MG  7591   20.707476  26.701452  20.630167  18.822929
                     7592   23.787882  29.431461  25.778868  16.273105
                     8592   21.425743  26.893876  23.959162  21.709086
                     8595   26.296859  36.086918  30.225271  19.478635
              TA     7592   22.730435  28.214081  22.700452  19.949500
                     8592   23.112180  30.042918  28.645689  20.261148
                     8594   21.376525  29.199772  26.483574  19.169465
                     8595   22.951039  31.133289  26.657013  15.908803
Tetanus-Crush LG-MG  125    22.519225  34.775425  23.414825  20.726650
                     135    25.113875  40.893156  35.746594  23.548031
                     151    25.408028  37.155704  24.217817  29.491169
                     152    21.542116  35.209326  31.795558  18.710302
              TA     123    21.600330  31.791670  24.656479  21.488745
                     135    23.940526  40.690719  37.714088  28.656053
                     144    20.667430  30.010342  21.504177  21.301519
                     151    23.052000  33.954057  32.606829  26.962586
                     152    24.796662  37.616704  35.263986  22.913690

                               marea2      vcov01      vcov02      vcov11  \
Group         Muscle Mouse
Crush         LG-MG  7482   23.466667  100.000000  100.000000   95.114286
                     7485    8.733000   99.011111   99.866667   79.725926
                     7488   33.319750  100.000000  100.000000  100.000000
                     8831   18.100873   99.581013  100.000000   92.997468
                     8834   13.509442   96.960465   98.109302   84.470930
                     8835   20.959182   99.915909  100.000000   95.940909
              SOL    8831   11.461691  100.000000  100.000000   98.391176
                     8834   12.937933  100.000000  100.000000   98.631111
              TA     7482   19.715442   99.065116   99.818605   96.144186
                     7485   15.789840   99.940000  100.000000   91.148000
                     7488   20.473424  100.000000  100.000000   99.218182
                     8831   10.839905   99.761905  100.000000   91.504762
                     8834   17.516864  100.000000  100.000000   93.088636
                     8835   17.662775   98.780000   98.970000   96.370000
Other         TA     173    12.238908   96.911842   98.319737   78.767105
Sham          LG-MG  8591   19.925722   99.844304   99.898734   96.264557
                     8593   20.393544   99.718421  100.000000   94.458772
                     8832   12.205908   99.123077   99.792308   84.023077
                     8833   15.049589   99.907477   99.995327   96.450467
                     8836    8.105302   92.391509   96.250000   61.823585
                     8837   10.774927   96.703650   98.576642   82.810219
              SOL    8591   21.472684   99.813158  100.000000   96.715789
                     8836   12.740098   98.682353   99.496078   83.905882
                     8837   28.371600  100.000000  100.000000   97.900000
              TA     8591   14.672429   99.990476  100.000000   97.652381
                     8593   22.011317   99.941270  100.000000   96.452381
                     8833   20.435000  100.000000  100.000000   99.859016
                     8836    9.438331   96.721805   98.571429   74.041353
                     8837    7.776969   98.231250   99.265625   82.443750
Tetanus       LG-MG  7591   10.378119   97.840476   99.295238   75.011905
                     7592    7.244368   99.843421  100.000000   90.465789
                     8592   14.041210   99.222857   99.796190   93.002857
                     8595    9.304388   98.749412   99.703529   83.398824
              TA     7592   12.384871   97.640323   98.888710   84.579032
                     8592   15.796607   99.918033  100.000000   96.959016
                     8594   12.699950   99.791089  100.000000   96.140594
                     8595    9.264671   97.198684   98.403947   83.939474
Tetanus-Crush LG-MG  125    11.844425  100.000000  100.000000   91.560000
                     135    11.159875  100.000000  100.000000   91.950000
                     151    12.693183   98.061972   99.518310   67.487324
                     152    11.500605   99.634884   99.960465   91.930233
              TA     123    12.250085   96.009574   98.486170   76.660638
                     135    18.689421  100.000000  100.000000   96.366667
                     144    11.249418   96.189873   98.367089   80.145570
                     151    20.060743   99.994286  100.000000   98.657143
                     152    16.420648   99.516901   99.638028   95.435211

                                vcov12     vcov22      tcov01      tcov02  \
Group         Muscle Mouse
Crush         LG-MG  7482    99.438095  84.552381  100.000000  100.000000
                     7485    89.414815  59.596296   98.685185  100.000000
                     7488   100.000000  98.520000  100.000000  100.000000
                     8831    97.320253  86.640506   99.259494   99.855696
                     8834    91.197674  74.513953   97.961628   98.780233
                     8835    98.522727  83.904545   99.854545  100.000000
              SOL    8831   100.000000  96.136765   99.891176  100.000000
                     8834   100.000000  97.466667  100.000000  100.000000
              TA     7482    97.974419  91.383721   98.727907   99.388372
                     7485    97.244000  75.544000   99.940000  100.000000
                     7488   100.000000  95.672727  100.000000  100.000000
                     8831    98.880952  82.347619   98.961905  100.000000
                     8834    98.279545  83.418182   99.897727  100.000000
                     8835    97.855000  92.487500   97.237500   98.192500
Other         TA     173     87.682895  60.053947   96.956579   98.038158
Sham          LG-MG  8591    98.146835  88.140506   99.763291   99.826582
                     8593    97.741228  85.817544   99.161404   99.966667
                     8832    92.007692  58.826154   96.929231   98.100000
                     8833    99.102804  88.933645   99.685047   99.964486
                     8836    75.955660  44.298113   90.837736   94.332075
                     8837    89.433577  70.111679   95.415328   97.845985
              SOL    8591    97.889474  92.786842   99.810526  100.000000
                     8836    93.237255  74.749020   98.719608   99.631373
                     8837   100.000000  95.006667   99.943333  100.000000
              TA     8591    99.157143  96.492063   99.609524  100.000000
                     8593    98.426984  87.842857   99.976190  100.000000
                     8833   100.000000  99.116393  100.000000  100.000000
                     8836    81.663910  53.685714   95.372932   97.848120
                     8837    92.128125  69.856250   97.415625   98.390625
Tetanus       LG-MG  7591    84.109524  55.526190   97.661905   99.009524
                     7592    95.689474  69.356579   99.448684   99.796053
                     8592    96.660000  82.781905   98.957143   99.655238
                     8595    89.630588  63.598824   97.827059   98.697647
              TA     7592    90.548387  69.882258   94.538710   96.609677
                     8592    97.716393  92.109836   99.995082  100.000000
                     8594    98.773267  88.309901   99.161386   99.781188
                     8595    91.119737  70.907895   98.131579   98.760526
Tetanus-Crush LG-MG  125     97.595000  70.950000  100.000000  100.000000
                     135     96.965625  64.393750  100.000000  100.000000
                     151     77.626761  45.398592   98.039437   99.054930
                     152     94.518605  82.962791   99.941860  100.000000
              TA     123     84.426596  57.190426   94.535106   96.776596
                     135     99.243860  87.215789  100.000000  100.000000
                     144     88.469620  59.679747   94.851899   97.640506
                     151     99.781429  91.835714   99.998571  100.000000
                     152     97.715493  88.622535   99.354930   99.546479

                                tcov12     mcov11     mcov22
Group         Muscle Mouse
Crush         LG-MG  7482    98.157143  88.057143  75.657143
                     7485    83.214815  50.937037  35.285185
                     7488   100.000000  99.192500  97.167500
                     8831    95.354430  74.450633  67.643038
                     8834    90.762791  60.237209  50.544186
                     8835    97.820455  90.047727  75.227273
              SOL    8831    99.888235  53.307353  42.605882
                     8834   100.000000  56.266667  45.973333
              TA     7482    98.088372  84.746512  76.946512
                     7485    95.496000  75.464000  58.264000
                     7488    99.221212  85.448485  80.987879
                     8831    94.423810  58.300000  50.590476
                     8834    97.770455  78.320455  66.625000
                     8835    94.090000  74.240000  67.257500
Other         TA     173     85.115789  66.306579  46.414474
Sham          LG-MG  8591    97.513924  84.072152  73.339241
                     8593    93.511404  83.605263  72.730702
                     8832    82.458462  75.747692  48.030769
                     8833    97.938318  81.652336  68.837383
                     8836    72.641509  44.895283  30.760377
                     8837    86.854745  50.079562  39.109489
              SOL    8591    96.423684  72.144737  66.665789
                     8836    91.345098  66.433333  46.411765
                     8837    99.313333  93.600000  86.780000
              TA     8591    96.915873  67.847619  62.619048
                     8593    98.282540  92.169841  81.460317
                     8833   100.000000  73.747541  67.470492
                     8836    77.793985  61.904511  40.908271
                     8837    91.978125  46.237500  30.531250
Tetanus       LG-MG  7591    83.161905  69.738095  46.280952
                     7592    92.663158  54.272368  28.373684
                     8592    92.842857  82.445714  63.518095
                     8595    90.525882  55.264706  33.458824
              TA     7592    83.372581  66.400000  50.901613
                     8592    98.590164  71.188525  62.096721
                     8594    94.822772  67.275248  55.664356
                     8595    92.344737  52.018421  37.207895
Tetanus-Crush LG-MG  125     86.845000  68.277500  46.645000
                     135     99.596875  73.850000  45.353125
                     151     78.933803  53.036620  35.546479
                     152     99.251163  66.060465  54.153488
              TA     123     84.179787  71.579787  51.928723
                     135     99.314035  81.382456  71.171930
                     144     83.840506  74.951899  53.543038
                     151     99.574286  88.750000  80.434286
                     152     98.030986  67.626761  62.992958